

  
        <div class="field is-grouped">      
        <span class="control">
              <button type="button" class="button is-info" 
          ic-get-from="{% url 'create' %}"
          ic-target="#main">
          Add
          </button>
        
        </span>  
          <span class="control">
          
            <button class="button is-warning" 
            ic-include="#formcontact"
            ic-confirm="are you sure?"
            ic-post-to="{% url 'delete' %}">
            Delete checked
            </button>

          </span>
          <span class="control">
            <input type="text" name="search"
                ic-post-to="{% url 'search' %}" ic-target="#list_contacts"
                 ic-trigger-on="keyup changed" ic-trigger-delay="500ms"
                 ic-indicator="#indicator"
                value="" class="input" placeholder="Buscar ..">
                  <span id="indicator" style="display:none">
      <i class="fa fa-spinner fa-spin"></i> Searching...
    </span>
          
          </span>
          
        </div>


<form id="formcontact" >
<table class="table is-fullwidth">
<thead>
    <th colspan="2">id</th>
    <th>title</th>
    <th colspan="2"></th>
</thead>
<tbody id="list_contacts">
    {% include "_list.html" %}
</tbody>
</table>

</form>