
<form id="formcontact" >
<table class="table is-fullwidth">
<thead>
    <th colspan="2">id</th>
    <th>title</th>
    <th colspan="2"></th>
</thead>
<tbody id="list_contacts">
{% for obj in object_list %}

    <tr>
        <td>
            <input type="checkbox" name="ids" value="{{obj.id}}">
        </td>
        <td>{{obj.id}}</td>
        <td>{{obj.title}}</td>
        <td>{{obj.create_date}}</td>
        <td>
            <a ic-get-from="{% url 'update' obj.id %}" ic-target="#main">View </a>
        </td>
    </tr>

{% endfor %}

</tbody>
</table>

</form>